@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 1vw;
}

@media screen and (max-width: 600px) {
  /* html {
    font-size: 4vw;
  } */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-btn-effect {
  @apply bg-orange-600 hover:bg-orange-400 duration-200 text-white hover:text-black;
}
